[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/Editor/JetBrains*
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Rr]ecordings/
[Mm]emoryCaptures/
sysinfo.txt
*.pidb.meta
*.pdb.meta
*.mdb.meta
.vs/
.gradle/
.consulo/
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db